/* MAP CSS */
.map-div {
    background-color: #a2e00f;
    /*position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 80%;
    */

}

.map-div path {
    fill: blue;
    stroke: purple;
    stroke-width: 2px;
}

.map-div path:hover {
    fill: red;
}