/*.body {
    background-color: #4D4DFF;
}
*/

.map-div {
    background-color: #B3B3FF;
    width: auto;
    height: auto;
}

.map-div path {
    fill: blue;
    stroke: purple;
    stroke-width: 2px;
}

.map-div :hover {
    fill: red;
}